name: taskmaster
services:
  postgres:
    image: postgres:15
    container_name: taskmaster-db
    environment:
      POSTGRES_DB: taskmaster
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5439:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
